/* ---------- header ----------*/

#allheader {
    display: flex; /* aligner le logo et le reste sur la même ligne */
    align-items: center; /* centre vertical */
    justify-content: flex-start; /* on commence en collant tout à gauche */
    gap: 40px; /* espace entre le logo et le reste */
    padding: 12px 0px 0px 0px; /* marges globales à l'intèrieur du bloc */
}

#logoheader {
    display: flex;
    width: 400px;
    height: auto;

}

#textheader {
    display: flex;
    flex: 1; /* permet d'occuper tout l'espace restant */
    align-items: center; /* centrage vertical */
    justify-content; center; /* centrage horizontal du texte et lien */
    gap: 30px; /* espace régulier entre chaque span */
}

#textheader span {
    width: auto; /* adapte automatiquement le texte à l'espace disponible */
}

.lien {
    text-decoration: none;
    color: black;
}

.lien:hover {
    color: red;
    text-decoration: underline;
}



/* ---------- main ---------- */

main {
    background-color: #0062FF;
}

#bluepart {
    display: flex;
    gap: 50px;
}

#blocleft {
    width: 49%;
}

#blocleft img {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 49%;
    border: 1px white solid;
    background-color: white;
    border-radius: 10px;
    margin: 8%;
}


#line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 8%;
}

#line1 input {
    width: 120px;
    height: 35px;
}

#line1 select {
    width: 120px;
    height: 42px;
}


#line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 2% 8%;
}

#line2 input {
    width: 190px;
    height: 35px;
}

#line3 {
    padding: 2% 8%;
}

#line3 select {
    width: 100%;
    height: 42px;
}

#resize {
    padding: 2% 8%;
}

#resize textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

.padding {
    padding: 2% 8%;
}
