/* ---------- explication concernant les espaces pris pas les blocs avec Flex: 0 1 px/% ---------- */

/* ---------- header ----------*/

#allheader {
    display: flex; /* aligner le logo et le reste sur la même ligne */
    align-items: center; /* centre vertical */
    justify-content: flex-start; /* on commence en collant tout à gauche */
    gap: 40px; /* espace entre le logo et le reste */
    padding: 12px 0px 0px 0px; /* marges globales à l'intèrieur du bloc */
}

#logoheader {
    display: flex;
    width: 400px;
    height: auto;

}

#textheader {
    display: flex;
    flex: 1; /* permet d'occuper tout l'espace restant */
    align-items: center; /* centrage vertical */
    justify-content; center; /* centrage horizontal du texte et lien */
    gap: 30px; /* espace régulier entre chaque span */
}

#textheader span {
    width: auto; /* adapte automatiquement le texte à l'espace disponible */
}

.lien {
    text-decoration: none;
    color: black;
}

.lien:hover {
    color: red;
    text-decoration: underline;
}

/* ---------- main ----------*/

#main {
    display: flex; /* pour mettre côte à côte le texte et l'image du main */
}

/* ---- partie gauche sur fond bleu ---- */

#maintext {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #007FFF;
    color: white;
    padding: 30px 40px; /* gére l'espacement entre le haut et les bords du cadre bleu */
}

.texte1 {
    font-size: 35px; /*taille du texte */
    font-weight: 800; /* texte en gras plus gros et visible que bold */
    font-family: Arial; sans-serif /*police de caractères */
    line-height: 1.1; /* resserer l'espacement entre les lignes */
    margin: 0;
}

.texte2 {
    font-size: 28px;
    line-height: 1.1;
    font-weight: 400;
    font-family: Arial; sans-serif
    margin: 0;
}

/* ---- bouton rouge de telechargement ---- */

.encadre {
    border: 2px solid #CD5C5C; /* cadre rouge */
    background-color: #CD5C5C; /* fond rouge */
    padding: 10px 16px; /* espace entre le texte et le cadre */
    text-align: center; /* texte centré */
    color: white; /* texte en blanc */
    font-weight: bold; /* texte en gras */
    text-decoration: none; /* permet de ne pas souligner le lien */
}

/* ---- les logos sous le bouton rouge ---- */

#logox3 {
    display: flex;  /* alignement des logos */
    margin-top: 24px; /* defini l'espace au dessus des logo uniquement */
    gap: 60px; /* defini l'espace entre les logos */
}

.textlogo {
    display: flex; /* mettre le logo et le texte à la suite */
    align-items: center; /* centrer le texte des logos */
    font-size: 15px; /* taille de la police */
    gap: 5px; /* espace entre le logo et le texte */
    text-decoration: none;
    color: white
}

.textlogo img {
     width: 42px; /* taille des logos */
     height:auto;
}


/* ---- image partie droite main ---- */

#mainimage {
    flex: 1 1 55%;
    display: flex;
}

#widthimage {
    width: 100%;
    height: auto;
}



/* ---------- FOOTER ---------- */


#footerbc{
    background-color: #2a2a2a;
    padding: 65px 45px 50px 45px;
}

#c1c4 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

/* ---- largeur des colonnes et optimisation de l'espace dedié à chacunes ---- */
/* ---- voir tout en haut du css pour l'explication des 0 1 et des px ---- */

#c1 { flex: 0 1 380px; /* colonne 1 un peu plus large (logo + boutons) */
}
#c2 { flex: 1 1 260px;
 }
#c3 { flex: 1 1 260px;
}
#c4 { flex: 1 1 260px;
}

/* ---- colonne 1 ---- */

#c1 {
    display: flex;
    flex-direction: column;
}
.logo{
    width: 320px; /* ajuste la largueur du logo */
    height: auto; /* garde les proportions de l'image */
    margin: 0 0 0 0;
    filter: brightness(0) invert(1); /* brightness permet de rendre le logo noir et invert sert à inverser les couleurs, le noir devient donc blanc */
}

.white{
    color: white;
    font-size: 18px;
    margin: 0 0 30px 10px;
}

#icon {
    display: flex;
    gap: 5px; /* defini l'espace entre les logos */
    margin: 0 0 0 30px;
}


#icon img {
    width: 35px;
    height: auto;
}

.border1 {
    display: block;  /* permet de definir la ligne comme un bloc */
    width: 250px;  /* permet de definir la taille du bloc */
    border: 1px solid #D3D3D3; /* taille de la bordure du bloc, contour et couleur du contour */
    background-color: #D3D3D3;
    color: black;
    margin: 40px 0 16px 0; /* ajuste l'espace entre le premier lien et les logos, ainsi que l'espace entre le lien et celui du dessous */
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: arial; sans-serif
}

.none {
    text-decoration: none;
}

.border2 {
    display: block;
    width: 250px;
    border: 1px solid #DC143C;
    background-color: #DC143C;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: arial; sans-serif
}

/* ---- colonne 2 ---- */

#c2 {
    display: flex;
    flex-direction: column;
}

/* ---- colonne 3 ---- */

#c3 {
    display: flex;
    flex-direction: column;
}

/* ---- colonne 4 ---- */

#c4 {
    display: flex;
    flex-direction: column;
}

.contact {
    border: 2px solid white;
    padding: 2px 30px;
    text-decoration: none;
}

.logoapril {
    width: 150px;
    height: auto;
}



/* ---------- mention sous le footer ---------- */

#mention {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
}